@import "compass";
@import "vendor/_mixins";

.sk-framework{
  margin-left: 20px;
  margin-right: 0;

  .sk-header{
    h1{
      float: right;
    }

    fieldset{
      float: left;
    }
  }

  .sk-nav{
    float: right;

    ul{
      clear: right;

      li{
        .sk-section-active:after{
          right: auto;
          left: 0;
          border-left-color: #fff;
          border-right-color: transparent;
        }

        .sk-arrow:after{
          content: "\f053";
          right: auto;
          left: 10px;
        }

        &.sk-tab-active .sk-arrow:after{
          @include transform( rotate(-90deg) );
        }
      }

      ul{
        li{
          a{
            padding-right: 25px;
            padding-left: 15px;
          }
        }

        &:before{
          left: auto;
          right: 15px;
        }
      }
    }

    .sk-icon{
      margin-left: 5px;
      margin-right: 0;
    }
  }

  .sk-nav-background{
    left: auto;
    right: 0;
  }

  .sk-content{
    margin-left: 0;
    margin-right: 225px;

    .sk-sections{
      float: right;
    }
  }

  .sk-show-all .sk-content {
    margin-right: 0;
    overflow: hidden;
  }

  .sk-expand-all {
    right: auto;
    left: 40px;
  }

  .sk-footer{
    text-align: left;
  }
}

.sk-metabox-framework{
  margin: -6px -12px -12px -12px;

  .sk-content{
    .sk-section-title{
      padding: 20px;
    }
  }
}

.sk-element{
  .sk-title{
    float: right;
  }

  .sk-fieldset{
    margin-left: 0;
    margin-right: 30%;
  }
}

.sk-pseudo-field{
  padding: 0 0 0 5px !important;
}

.sk-field-number em{
  margin-left: 0;
  margin-right: 5px;
}

.sk-field-typography select,
.sk-field-typography .chosen-container{
  margin-right: 0;
  margin-left: 5px;
}

.sk-field-checkbox .horizontal li,
.sk-field-radio .horizontal li{
  margin-right: 0;
  margin-left: 15px;
}

.sk-field-switcher{
  label{
    float: right;
  }

  .sk-text-desc{
    float: right;
    margin-left: 0;
    margin-right: 5px;
  }
}

.sk-field-color_picker{
  .sk-alpha-slider{
    margin-left: 0;
    margin-right: 2px;

    .ui-slider-handle{
      margin: 0 -11px;
    }
  }

  .sk-alpha-slider-offset{
    background-position: center right;
  }

  .sk-alpha-text{
    right: auto;
    left: 10px;
  }
}

.sk-field-group{
  .ui-accordion-icons{
    padding-left: 0;
    padding-right: 30px;
  }

  .ui-accordion-header-icon{
    left: auto;
    right: .5em;
  }

  .dashicons-arrow-right:before{
    content: "\f141";
  }
}

.sk-help{
  right: auto;
  left: 5px;
}

.sk-field-icon{
  .button{
    margin-right: 0;
    margin-left: 5px;
  }

  .sk-icon-preview i{
    margin-right: 0;
    margin-left: 5px;
  }
}

.sk-field-gallery{
  ul li{
    margin-right: 0;
    margin-left: 5px;
  }

  .button{
    margin-right: 0;
    margin-left: 5px;
  }
}

.sk-field-sorter .sk-modules{
  float: right;
  margin-right: 0;
  margin-left: 10px;
}

#sk-save-ajax{
  right: auto;
  left: 5px;
}

.sk-dialog{
  .sk-element{
    padding-right: 15px;
    padding-left: 30px;
  }

  .sk-shortcode-clone .sk-remove-clone{
    right: auto;
    left: 5px;
  }
}

#customize-controls .sk-element .sk-fieldset,
.widget-content .sk-element .sk-fieldset,
#side-sortables .sk-element .sk-fieldset{
  margin-right: 0;
}

@media only screen and (max-width:1200px){
  .sk-metabox-framework .sk-element .sk-fieldset{
    margin-left: 0;
  }
}

@media only screen and (max-width:782px){
  .sk-framework .sk-fieldset,
  .sk-framework .sk-content{
      margin-right: 0;
  }
}

.ui-dialog{
  right: auto;
}
