@font-face {
    font-family: 'skeleticons';
    src:    url('../fonts/skeleticons.eot?fnb0rg');
    src:    url('../fonts/skeleticons.eot?fnb0rg#iefix') format('embedded-opentype'),
        url('../fonts/skeleticons.ttf?fnb0rg') format('truetype'),
        url('../fonts/skeleticons.woff?fnb0rg') format('woff'),
        url('../fonts/skeleticons.svg?fnb0rg#skeleticons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="si-"], [class*=" si-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'skeleticons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.si-home2:before {
    content: "\e901";
}
.si-office:before {
    content: "\e909";
}
.si-magazine:before {
    content: "\e90c";
}
.si-design:before {
    content: "\e90d";
}
.si-pencil3:before {
    content: "\e910";
}
.si-pencil6:before {
    content: "\e913";
}
.si-pencil7:before {
    content: "\e914";
}
.si-quill3:before {
    content: "\e91a";
}
.si-brush:before {
    content: "\e928";
}
.si-palette:before {
    content: "\e92a";
}
.si-bucket2:before {
    content: "\e92f";
}
.si-eyedropper2:before {
    content: "\e932";
}
.si-droplet:before {
    content: "\e934";
}
.si-paint-format:before {
    content: "\e938";
}
.si-image2:before {
    content: "\e93c";
}
.si-images2:before {
    content: "\e93e";
}
.si-image4:before {
    content: "\e941";
}
.si-camera:before {
    content: "\e944";
}
.si-camera2:before {
    content: "\e945";
}
.si-shutter:before {
    content: "\e947";
}
.si-music5:before {
    content: "\e94e";
}
.si-guitar:before {
    content: "\e954";
}
.si-play:before {
    content: "\e957";
}
.si-film:before {
    content: "\e95e";
}
.si-film3:before {
    content: "\e960";
}
.si-film4:before {
    content: "\e961";
}
.si-video-camera:before {
    content: "\e962";
}
.si-video-camera2:before {
    content: "\e963";
}
.si-video-camera4:before {
    content: "\e966";
}
.si-bullhorn:before {
    content: "\e979";
}
.si-new:before {
    content: "\e97b";
}
.si-connection:before {
    content: "\e97c";
}
.si-podcast2:before {
    content: "\e987";
}
.si-antenna2:before {
    content: "\e988";
}
.si-mic:before {
    content: "\e989";
}
.si-book2:before {
    content: "\e991";
}
.si-book3:before {
    content: "\e993";
}
.si-bookmark:before {
    content: "\e994";
}
.si-archive:before {
    content: "\e996";
}
.si-library:before {
    content: "\e998";
}
.si-graduation:before {
    content: "\e99a";
}
.si-file-empty:before {
    content: "\e99d";
}
.si-files-empty:before {
    content: "\e99f";
}
.si-file-plus:before {
    content: "\e9a1";
}
.si-file-minus:before {
    content: "\e9a3";
}
.si-file-download:before {
    content: "\e9a5";
}
.si-file-upload:before {
    content: "\e9a7";
}
.si-file-check:before {
    content: "\e9a9";
}
.si-file-text2:before {
    content: "\e9ad";
}
.si-file-picture:before {
    content: "\e9af";
}
.si-file-music:before {
    content: "\e9b1";
}
.si-file-play:before {
    content: "\e9b3";
}
.si-file-video:before {
    content: "\e9b5";
}
.si-file-zip:before {
    content: "\e9b9";
}
.si-file-xml:before {
    content: "\e9bb";
}
.si-file-css:before {
    content: "\e9bd";
}
.si-file-presentation:before {
    content: "\e9bf";
}
.si-file-stats:before {
    content: "\e9c1";
}
.si-file-locked:before {
    content: "\e9c3";
}
.si-file-spreadsheet:before {
    content: "\e9c5";
}
.si-copy3:before {
    content: "\e9c7";
}
.si-stack:before {
    content: "\e9cd";
}
.si-folder4:before {
    content: "\e9de";
}
.si-folder-open3:before {
    content: "\e9ea";
}
.si-cc:before {
    content: "\e9ec";
}
.si-price-tag3:before {
    content: "\e9f0";
}
.si-price-tags2:before {
    content: "\e9f1";
}
.si-barcode:before {
    content: "\e9f6";
}
.si-theater:before {
    content: "\e9fb";
}
.si-store2:before {
    content: "\e9fd";
}
.si-cart2:before {
    content: "\e9ff";
}
.si-bag:before {
    content: "\ea07";
}
.si-coins:before {
    content: "\ea0a";
}
.si-credit-card:before {
    content: "\ea15";
}
.si-lifebuoy:before {
    content: "\ea1b";
}
.si-phone:before {
    content: "\ea1c";
}
.si-phone2:before {
    content: "\ea1d";
}
.si-address-book:before {
    content: "\ea2b";
}
.si-at-sign:before {
    content: "\ea2f";
}
.si-envelop2:before {
    content: "\ea31";
}
.si-mailbox:before {
    content: "\ea35";
}
.si-pushpin:before {
    content: "\ea36";
}
.si-location:before {
    content: "\ea38";
}
.si-compass:before {
    content: "\ea3f";
}
.si-compass5:before {
    content: "\ea43";
}
.si-map5:before {
    content: "\ea49";
}
.si-direction:before {
    content: "\ea4a";
}
.si-reset:before {
    content: "\ea4b";
}
.si-clock3:before {
    content: "\ea4f";
}
.si-bell2:before {
    content: "\ea58";
}
.si-stopwatch:before {
    content: "\ea5e";
}
.si-calendar:before {
    content: "\ea5f";
}
.si-calendar3:before {
    content: "\ea61";
}
.si-printer:before {
    content: "\ea64";
}
.si-mouse-left:before {
    content: "\ea6b";
}
.si-keyboard2:before {
    content: "\ea6e";
}
.si-display:before {
    content: "\ea70";
}
.si-mobile:before {
    content: "\ea75";
}
.si-tablet:before {
    content: "\ea77";
}
.si-cabinet:before {
    content: "\ea7b";
}
.si-drawer:before {
    content: "\ea7c";
}
.si-box:before {
    content: "\ea81";
}
.si-download:before {
    content: "\ea84";
}
.si-upload:before {
    content: "\ea85";
}
.si-drive:before {
    content: "\ea8e";
}
.si-server:before {
    content: "\ea8f";
}
.si-database3:before {
    content: "\ea92";
}
.si-redo2:before {
    content: "\eabd";
}
.si-bubble2:before {
    content: "\eac4";
}
.si-bubbles4:before {
    content: "\eac6";
}
.si-bubble9:before {
    content: "\ead8";
}
.si-bubbles9:before {
    content: "\eadb";
}
.si-user:before {
    content: "\eaf4";
}
.si-users:before {
    content: "\eaf5";
}
.si-user-plus:before {
    content: "\eaf6";
}
.si-user-lock:before {
    content: "\eafa";
}
.si-collaboration:before {
    content: "\eb0d";
}
.si-hat:before {
    content: "\eb0f";
}
.si-quotes-right:before {
    content: "\eb19";
}
.si-hour-glass2:before {
    content: "\eb1d";
}
.si-spinner:before {
    content: "\eb1f";
}
.si-spinner2:before {
    content: "\eb20";
}
.si-spinner3:before {
    content: "\eb21";
}
.si-binoculars:before {
    content: "\eb2b";
}
.si-search:before {
    content: "\eb2d";
}
.si-zoom-in:before {
    content: "\eb2e";
}
.si-enlarge:before {
    content: "\eb39";
}
.si-key5:before {
    content: "\eb4b";
}
.si-lock2:before {
    content: "\eb4e";
}
.si-safe:before {
    content: "\eb54";
}
.si-wrench3:before {
    content: "\eb57";
}
.si-equalizer:before {
    content: "\eb58";
}
.si-equalizer3:before {
    content: "\eb5a";
}
.si-cog2:before {
    content: "\eb5e";
}
.si-cog3:before {
    content: "\eb5f";
}
.si-hammer-wrench:before {
    content: "\eb66";
}
.si-screwdriver2:before {
    content: "\eb69";
}
.si-magic-wand2:before {
    content: "\eb6b";
}
.si-pulse2:before {
    content: "\eb6d";
}
.si-aid-kit2:before {
    content: "\eb6f";
}
.si-ambulance:before {
    content: "\eb71";
}
.si-pandage:before {
    content: "\eb73";
}
.si-bug:before {
    content: "\eb75";
}
.si-pill:before {
    content: "\eb79";
}
.si-construction:before {
    content: "\eb7a";
}
.si-pie-chart5:before {
    content: "\eb81";
}
.si-stats-dots:before {
    content: "\eb84";
}
.si-stats-growth2:before {
    content: "\eb8f";
}
.si-stars:before {
    content: "\eb9b";
}
.si-medal:before {
    content: "\eb9d";
}
.si-trophy3:before {
    content: "\eba5";
}
.si-diamond:before {
    content: "\eba6";
}
.si-trophy4:before {
    content: "\eba8";
}
.si-gift:before {
    content: "\eba9";
}
.si-glass3:before {
    content: "\ebb1";
}
.si-spoon-knife:before {
    content: "\ebb9";
}
.si-cook:before {
    content: "\ebba";
}
.si-cup:before {
    content: "\ebc5";
}
.si-coffee:before {
    content: "\ebc8";
}
.si-leaf2:before {
    content: "\ebcb";
}
.si-tree2:before {
    content: "\ebd0";
}
.si-rocket:before {
    content: "\ebda";
}
.si-meter:before {
    content: "\ebdb";
}
.si-hammer2:before {
    content: "\ebe1";
}
.si-balance:before {
    content: "\ebe2";
}
.si-lab:before {
    content: "\ebe7";
}
.si-atom2:before {
    content: "\ebe9";
}
.si-magnet2:before {
    content: "\ebeb";
}
.si-lamp8:before {
    content: "\ebf7";
}
.si-bin:before {
    content: "\ebfa";
}
.si-briefcase:before {
    content: "\ebff";
}
.si-airplane2:before {
    content: "\ec03";
}
.si-gas:before {
    content: "\ec0a";
}
.si-truck:before {
    content: "\ec0c";
}
.si-chopper:before {
    content: "\ec13";
}
.si-brain:before {
    content: "\ec24";
}
.si-shield:before {
    content: "\ec2e";
}
.si-shield-check:before {
    content: "\ec2f";
}
.si-football:before {
    content: "\ec35";
}
.si-basketball:before {
    content: "\ec3c";
}
.si-racing:before {
    content: "\ec40";
}
.si-power2:before {
    content: "\ec46";
}
.si-switch:before {
    content: "\ec48";
}
.si-power-cord:before {
    content: "\ec4a";
}
.si-outlet:before {
    content: "\ec4c";
}
.si-clipboard2:before {
    content: "\ec4e";
}
.si-clipboard3:before {
    content: "\ec4f";
}
.si-list:before {
    content: "\ec56";
}
.si-grid:before {
    content: "\ec5a";
}
.si-grid6:before {
    content: "\ec5f";
}
.si-grid7:before {
    content: "\ec60";
}
.si-tree6:before {
    content: "\ec62";
}
.si-lan:before {
    content: "\ec64";
}
.si-lan3:before {
    content: "\ec66";
}
.si-menu7:before {
    content: "\ec6e";
}
.si-cloud:before {
    content: "\ec72";
}
.si-cloud2:before {
    content: "\ec76";
}
.si-download2:before {
    content: "\ec7a";
}
.si-upload2:before {
    content: "\ec7c";
}
.si-sphere:before {
    content: "\ec8e";
}
.si-earth:before {
    content: "\ec93";
}
.si-link2:before {
    content: "\ec98";
}
.si-flag6:before {
    content: "\eca6";
}
.si-attachment:before {
    content: "\eca9";
}
.si-eye4:before {
    content: "\ecb3";
}
.si-bookmark3:before {
    content: "\ecb5";
}
.si-bookmark4:before {
    content: "\ecb7";
}
.si-snowflake:before {
    content: "\ecba";
}
.si-sun2:before {
    content: "\eccc";
}
.si-bed:before {
    content: "\ecd9";
}
.si-star-empty:before {
    content: "\ecdd";
}
.si-star-empty2:before {
    content: "\ecde";
}
.si-star-full:before {
    content: "\ecdf";
}
.si-heart3:before {
    content: "\ece6";
}
.si-heart4:before {
    content: "\ece7";
}
.si-thumbs-up2:before {
    content: "\ecf2";
}
.si-thumbs-down2:before {
    content: "\ecf4";
}
.si-man:before {
    content: "\ecf8";
}
.si-woman:before {
    content: "\ecf9";
}
.si-smile:before {
    content: "\ed01";
}
.si-sad:before {
    content: "\ed05";
}
.si-neutral:before {
    content: "\ed17";
}
.si-cursor2:before {
    content: "\ed24";
}
.si-pointer:before {
    content: "\ed2d";
}
.si-warning:before {
    content: "\ed4c";
}
.si-notification:before {
    content: "\ed4e";
}
.si-question3:before {
    content: "\ed52";
}
.si-question6:before {
    content: "\ed55";
}
.si-plus3:before {
    content: "\ed5a";
}
.si-minus3:before {
    content: "\ed5b";
}
.si-plus-circle:before {
    content: "\ed5c";
}
.si-minus-circle:before {
    content: "\ed5d";
}
.si-info:before {
    content: "\ed60";
}
.si-cancel-circle:before {
    content: "\ed62";
}
.si-spam:before {
    content: "\ed68";
}
.si-cross2:before {
    content: "\ed6a";
}
.si-checkmark3:before {
    content: "\ed6e";
}
.si-enter:before {
    content: "\ed73";
}
.si-exit:before {
    content: "\ed74";
}
.si-play3:before {
    content: "\ed7b";
}
.si-volume-medium:before {
    content: "\ed8d";
}
.si-infinite:before {
    content: "\eda9";
}
.si-shuffle:before {
    content: "\edac";
}
.si-wave:before {
    content: "\edae";
}
.si-arrow-up4:before {
    content: "\edb7";
}
.si-arrow-right4:before {
    content: "\edbb";
}
.si-arrow-down4:before {
    content: "\edbf";
}
.si-arrow-left4:before {
    content: "\edc3";
}
.si-arrow-up5:before {
    content: "\edc4";
}
.si-arrow-right5:before {
    content: "\edc5";
}
.si-arrow-down5:before {
    content: "\edc6";
}
.si-arrow-left5:before {
    content: "\edc7";
}
.si-arrow-up8:before {
    content: "\edd9";
}
.si-arrow-down8:before {
    content: "\eddd";
}
.si-circle-up2:before {
    content: "\ede4";
}
.si-circle-right2:before {
    content: "\ede5";
}
.si-circle-down2:before {
    content: "\ede6";
}
.si-circle-left2:before {
    content: "\ede7";
}
.si-circle-up6:before {
    content: "\ee2c";
}
.si-circle-down6:before {
    content: "\ee2e";
}
.si-battery-4:before {
    content: "\ee53";
}
.si-checkbox-checked:before {
    content: "\ee63";
}
.si-checkbox-unchecked:before {
    content: "\ee64";
}
.si-toggle-off:before {
    content: "\ee72";
}
.si-circle:before {
    content: "\ee74";
}
.si-crop2:before {
    content: "\ee79";
}
.si-pencil-ruler:before {
    content: "\ee80";
}
.si-scissors2:before {
    content: "\ee82";
}
.si-filter2:before {
    content: "\ee87";
}
.si-font-size:before {
    content: "\ee8e";
}
.si-sigma:before {
    content: "\ee9f";
}
.si-table2:before {
    content: "\eeac";
}
.si-pilcrow:before {
    content: "\eeae";
}
.si-paragraph-left3:before {
    content: "\eebe";
}
.si-paragraph-center3:before {
    content: "\eebf";
}
.si-paragraph-right3:before {
    content: "\eec0";
}
.si-paragraph-justify3:before {
    content: "\eec1";
}
.si-share2:before {
    content: "\eec5";
}
.si-embed:before {
    content: "\eec9";
}
.si-embed2:before {
    content: "\eeca";
}
.si-share3:before {
    content: "\eedd";
}
.si-google-plus:before {
    content: "\eee4";
}
.si-google-drive:before {
    content: "\eee7";
}
.si-facebook:before {
    content: "\eee8";
}
.si-instagram:before {
    content: "\eeec";
}
.si-twitter:before {
    content: "\eeed";
}
.si-feed2:before {
    content: "\eef0";
}
.si-youtube2:before {
    content: "\eef4";
}
.si-vimeo:before {
    content: "\eef8";
}
.si-flickr2:before {
    content: "\eefd";
}
.si-picassa:before {
    content: "\ef00";
}
.si-dribbble:before {
    content: "\ef02";
}
.si-dropbox:before {
    content: "\ef0b";
}
.si-onedrive:before {
    content: "\ef0c";
}
.si-github4:before {
    content: "\ef10";
}
.si-wordpress:before {
    content: "\ef12";
}
.si-tux:before {
    content: "\ef1a";
}
.si-apple2:before {
    content: "\ef1b";
}
.si-android:before {
    content: "\ef1d";
}
.si-windows8:before {
    content: "\ef1f";
}
.si-soundcloud:before {
    content: "\ef20";
}
.si-skype:before {
    content: "\ef22";
}
.si-linkedin2:before {
    content: "\ef25";
}
.si-stackoverflow:before {
    content: "\ef2b";
}
.si-pinterest:before {
    content: "\ef2c";
}
.si-paypal:before {
    content: "\ef32";
}
.si-file-pdf:before {
    content: "\ef36";
}
.si-file-word:before {
    content: "\ef38";
}
.si-file-excel:before {
    content: "\ef39";
}
.si-codepen:before {
    content: "\ef40";
}
.si-chrome:before {
    content: "\ef41";
}
.si-IE:before {
    content: "\ef43";
}