@charset "UTF-8";

@font-face {
  font-family: "skeleticons";
  src:url("../fonts/skeleticons.eot");
  src:url("../fonts/skeleticons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/skeleticons.woff") format("woff"),
    url("../fonts/skeleticons.ttf") format("truetype"),
    url("../fonts/skeleticons.svg#skeleticons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[class^="ski-"]:before, [class*="ski-"] {
  font-size: 1em;
  line-height: 1;
  vertical-align: -7%;
}

[class^="ski-"]:before, [class*="ski-"]:before {
  display: inline-block; 
  font-family: "skeleticons"; 
  speak: none; 
  font-style: normal; 
  font-weight: normal; 
  font-variant: normal; 
  text-transform: none; 
  text-rendering: auto; 
  line-height: 1; 
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
}

.ski-bar:before {
  content: "a";
}
.ski-buoy-help:before {
  content: "b";
}
.ski-bubbles:before {
  content: "c";
}
.ski-camera-outline:before {
  content: "d";
}
.ski-camera-3:before {
  content: "e";
}
.ski-camera-2:before {
  content: "f";
}
.ski-chat-talk:before {
  content: "l";
}
.ski-chevron-left:before {
  content: "m";
}
.ski-chevron-down:before {
  content: "n";
}
.ski-chevron-down-1:before {
  content: "o";
}
.ski-check-mark-circle-outline:before {
  content: "p";
}
.ski-check-mark-circle:before {
  content: "q";
}
.ski-check-mark-4:before {
  content: "r";
}
.ski-check-mark-3:before {
  content: "s";
}
.ski-check-mark-2:before {
  content: "t";
}
.ski-check-mark:before {
  content: "u";
}
.ski-check-circle:before {
  content: "v";
}
.ski-chatbubble-outline:before {
  content: "w";
}
.ski-chatbubble:before {
  content: "x";
}
.ski-chat-talk-outline:before {
  content: "y";
}
.ski-chevron-left-1:before {
  content: "z";
}
.ski-chevron-left-thick:before {
  content: "A";
}
.ski-chevron-right:before {
  content: "B";
}
.ski-chevron-right-1:before {
  content: "C";
}
.ski-chevron-right-thick:before {
  content: "D";
}
.ski-chevron-up:before {
  content: "E";
}
.ski-chevron-up-1:before {
  content: "F";
}
.ski-cloud-lightning:before {
  content: "G";
}
.ski-cloud-lightning-outline:before {
  content: "H";
}
.ski-cloud-download-outline:before {
  content: "I";
}
.ski-cloud-download:before {
  content: "J";
}
.ski-cloud-2:before {
  content: "K";
}
.ski-cloud:before {
  content: "L";
}
.ski-close-empty:before {
  content: "M";
}
.ski-close-circle-outline:before {
  content: "N";
}
.ski-close-circle:before {
  content: "O";
}
.ski-clock-time-outline:before {
  content: "P";
}
.ski-clock-time:before {
  content: "Q";
}
.ski-clock-outline:before {
  content: "R";
}
.ski-cloud-outline:before {
  content: "S";
}
.ski-cloud-small:before {
  content: "T";
}
.ski-cloud-small-outline:before {
  content: "U";
}
.ski-cloud-upload:before {
  content: "V";
}
.ski-cloud-upload-2:before {
  content: "W";
}
.ski-cloud-upload-outline:before {
  content: "X";
}
.ski-code:before {
  content: "Y";
}
.ski-code-download:before {
  content: "Z";
}
.ski-contact-2:before {
  content: "1";
}
.ski-contact:before {
  content: "2";
}
.ski-contacs:before {
  content: "3";
}
.ski-code-working:before {
  content: "4";
}
.ski-cog-outline:before {
  content: "5";
}
.ski-cog:before {
  content: "6";
}
.ski-contact-group:before {
  content: "7";
}
.ski-contact-group-outline:before {
  content: "8";
}
.ski-contact-outline:before {
  content: "9";
}
.ski-copy:before {
  content: "!";
}
.ski-copy-outline:before {
  content: "\"";
}
.ski-drag:before {
  content: "#";
}
.ski-drag-2:before {
  content: "$";
}
.ski-download-inbox:before {
  content: "%";
}
.ski-download:before {
  content: "&";
}
.ski-document:before {
  content: "'";
}
.ski-film-maker:before {
  content: "(";
}
.ski-filing:before {
  content: ")";
}
.ski-file-document-text:before {
  content: "*";
}
.ski-filmstrip:before {
  content: "+";
}
.ski-filmstrip-outline:before {
  content: ",";
}
.ski-folder-open:before {
  content: "-";
}
.ski-folder-open-2:before {
  content: ".";
}
.ski-folder-small:before {
  content: "/";
}
.ski-folder-small-outline:before {
  content: ":";
}
.ski-grid:before {
  content: ";";
}
.ski-heart-small-outline:before {
  content: "<";
}
.ski-heart-small:before {
  content: "=";
}
.ski-heart:before {
  content: ">";
}
.ski-hand-unlike:before {
  content: "?";
}
.ski-hand-like:before {
  content: "@";
}
.ski-information:before {
  content: "[";
}
.ski-information-circle:before {
  content: "]";
}
.ski-information-circle-2:before {
  content: "^";
}
.ski-information-small:before {
  content: "_";
}
.ski-information-small-circle:before {
  content: "`";
}
.ski-information-small-circle-outline:before {
  content: "{";
}
.ski-lock:before {
  content: "|";
}
.ski-lock-big:before {
  content: "}";
}
.ski-lock-outline:before {
  content: "~";
}
.ski-message-talk:before {
  content: "\\";
}
.ski-minus-3:before {
  content: "\e000";
}
.ski-minus-2:before {
  content: "\e001";
}
.ski-minus:before {
  content: "\e002";
}
.ski-minus-circle:before {
  content: "\e003";
}
.ski-minus-circle-2:before {
  content: "\e004";
}
.ski-minus-circle-outline:before {
  content: "\e005";
}
.ski-minus-remove:before {
  content: "\e006";
}
.ski-navicon:before {
  content: "\e007";
}
.ski-navicon-round:before {
  content: "\e008";
}
.ski-parentheses:before {
  content: "\e009";
}
.ski-photo-picture:before {
  content: "\e00a";
}
.ski-photo-image:before {
  content: "\e00b";
}
.ski-play-outline:before {
  content: "\e00c";
}
.ski-play-2:before {
  content: "\e00d";
}
.ski-play:before {
  content: "\e00e";
}
.ski-plus:before {
  content: "\e00f";
}
.ski-plus-add:before {
  content: "\e010";
}
.ski-plus-add-2:before {
  content: "\e011";
}
.ski-plus-big:before {
  content: "\e012";
}
.ski-plus-circle:before {
  content: "\e013";
}
.ski-plus-circle-outline:before {
  content: "\e014";
}
.ski-plus-outline:before {
  content: "\e015";
}
.ski-print:before {
  content: "\e016";
}
.ski-print-1:before {
  content: "\e017";
}
.ski-print-2:before {
  content: "\e018";
}
.ski-print-outline:before {
  content: "\e019";
}
.ski-question:before {
  content: "\e01a";
}
.ski-question-circle:before {
  content: "\e01b";
}
.ski-question-circle-1:before {
  content: "\e01c";
}
.ski-question-circle-outline:before {
  content: "\e01d";
}
.ski-question-small:before {
  content: "\e01e";
}
.ski-remove-delete-two:before {
  content: "\e01f";
}
.ski-remove-delete-circle:before {
  content: "\e020";
}
.ski-remove-delete:before {
  content: "\e021";
}
.ski-remove:before {
  content: "\e022";
}
.ski-search:before {
  content: "\e023";
}
.ski-search-2:before {
  content: "\e024";
}
.ski-search-3:before {
  content: "\e025";
}
.ski-search-outline:before {
  content: "\e026";
}
.ski-square-upload-outline:before {
  content: "\e027";
}
.ski-square-upload:before {
  content: "\e028";
}
.ski-square-download-outline:before {
  content: "\e029";
}
.ski-square-download:before {
  content: "\e02a";
}
.ski-star:before {
  content: "\e02b";
}
.ski-star-1:before {
  content: "\e02c";
}
.ski-star-2:before {
  content: "\e02d";
}
.ski-star-outline:before {
  content: "\e02e";
}
.ski-tag:before {
  content: "\e02f";
}
.ski-tag-outline:before {
  content: "\e030";
}
.ski-tag-round:before {
  content: "\e031";
}
.ski-tags:before {
  content: "\e032";
}
.ski-tags-round:before {
  content: "\e033";
}
.ski-unlock:before {
  content: "\e034";
}
.ski-unlock-2:before {
  content: "\e035";
}
.ski-unlock-outline:before {
  content: "\e036";
}
.ski-video-camera:before {
  content: "\e037";
}
.ski-video-camera-outline:before {
  content: "\e038";
}
.ski-videocamera:before {
  content: "\e039";
}
.ski-volume-low:before {
  content: "\e03a";
}
.ski-volume-high:before {
  content: "\e03b";
}
.ski-volume-medium:before {
  content: "\e03c";
}
.ski-volume-speaker:before {
  content: "\e03d";
}
.ski-wrench:before {
  content: "\e03e";
}
.ski-youtube-play-outline:before {
  content: "\e03f";
}
.ski-youtube-play:before {
  content: "\e040";
}
.ski-address-at:before {
  content: "\e041";
}
.ski-alarm-clock:before {
  content: "\e042";
}
.ski-alarm-clock-1:before {
  content: "\e043";
}
.ski-alarm-clock-outline:before {
  content: "\e044";
}
.ski-albums:before {
  content: "\e045";
}
.ski-albums-outline:before {
  content: "\e046";
}
.ski-archive:before {
  content: "\e047";
}
.ski-arrow-down:before {
  content: "\e048";
}
.ski-arrow-backward:before {
  content: "\e049";
}
.ski-arrow-line-up:before {
  content: "\e04a";
}
.ski-arrow-line-right:before {
  content: "\e04b";
}
.ski-arrow-line-left:before {
  content: "\e04c";
}
.ski-arrow-line-down:before {
  content: "\e04d";
}
.ski-arrow-left:before {
  content: "\e04e";
}
.ski-arrow-left-1:before {
  content: "\e04f";
}
.ski-arrow-down-1:before {
  content: "\e050";
}
.ski-arrow-move:before {
  content: "\e051";
}
.ski-arrow-right:before {
  content: "\e052";
}
.ski-arrow-right-1:before {
  content: "\e053";
}
.ski-arrow-up:before {
  content: "\e054";
}
.ski-arrow-up-1:before {
  content: "\e055";
}
.ski-arrow-graph-up-right:before {
  content: "\e056";
}
.ski-at-address:before {
  content: "\e057";
}
.ski-at-address-thick:before {
  content: "\e058";
}
.ski-back-system:before {
  content: "\e059";
}
.ski-bag:before {
  content: "\e05a";
}
.ski-beaker:before {
  content: "\e05b";
}
.ski-usb:before {
  content: "\e05c";
}
.ski-beaker-science-flask:before {
  content: "g";
}
.ski-bell:before {
  content: "h";
}
.ski-bell-alarm:before {
  content: "i";
}
.ski-bell-outline:before {
  content: "j";
}
.ski-calendar-outline:before {
  content: "k";
}
.ski-browsers:before {
  content: "\e05d";
}
.ski-briefcase-outline:before {
  content: "\e05e";
}
.ski-briefcase-2:before {
  content: "\e05f";
}
.ski-briefcase:before {
  content: "\e060";
}
.ski-box-outline:before {
  content: "\e061";
}
.ski-box:before {
  content: "\e062";
}
.ski-bookmark-outline:before {
  content: "\e063";
}
.ski-bookmark:before {
  content: "\e064";
}
.ski-bookmark-1:before {
  content: "\e065";
}
.ski-book:before {
  content: "\e066";
}
.ski-browsers-outline:before {
  content: "\e067";
}
.ski-buffer:before {
  content: "\e068";
}
.ski-buffer-outline:before {
  content: "\e069";
}
.ski-bug:before {
  content: "\e06a";
}
.ski-calendar:before {
  content: "\e06b";
}
.ski-calendar-2:before {
  content: "\e06c";
}
.ski-calendar-3:before {
  content: "\e06d";
}
.ski-clock-2-outline:before {
  content: "\e06e";
}
.ski-clock-2:before {
  content: "\e06f";
}
.ski-clock:before {
  content: "\e070";
}
.ski-clipboard:before {
  content: "\e071";
}
.ski-credit-card:before {
  content: "0";
}
.ski-cup-coffee:before {
  content: "\e072";
}
.ski-exclamation:before {
  content: "\e073";
}
.ski-exclamation-alert:before {
  content: "\e074";
}
.ski-flash-electric-2:before {
  content: "\e075";
}
.ski-flash-electric:before {
  content: "\e076";
}
.ski-flag-outline:before {
  content: "\e077";
}
.ski-flag-2:before {
  content: "\e078";
}
.ski-flag:before {
  content: "\e079";
}
.ski-gear-setting-2:before {
  content: "\e07a";
}
.ski-gear-setting-2-1:before {
  content: "\e07b";
}
.ski-gear-setting:before {
  content: "\e07c";
}
.ski-gear-setting-1:before {
  content: "\e07d";
}
.ski-gear-cog:before {
  content: "\e07e";
}
.ski-globe-world:before {
  content: "\e07f";
}
.ski-globe-world-1:before {
  content: "\e080";
}
.ski-hammer:before {
  content: "\e081";
}
.ski-home:before {
  content: "\e082";
}
.ski-infinite:before {
  content: "\e083";
}
.ski-infinite-outline:before {
  content: "\e084";
}
.ski-keypad-2:before {
  content: "\e085";
}
.ski-keypad-outline:before {
  content: "\e086";
}
.ski-lightbulb-2:before {
  content: "\e087";
}
.ski-lightbulb:before {
  content: "\e088";
}
.ski-lightbulb-outline:before {
  content: "\e089";
}
.ski-laptop:before {
  content: "\e08a";
}
.ski-leaf:before {
  content: "\e08b";
}
.ski-loading-4:before {
  content: "\e08c";
}
.ski-loading-3:before {
  content: "\e08d";
}
.ski-loading-2:before {
  content: "\e08e";
}
.ski-loading-1:before {
  content: "\e08f";
}
.ski-medkit-2:before {
  content: "\e090";
}
.ski-medkit:before {
  content: "\e091";
}
.ski-mark-map-outline:before {
  content: "\e092";
}
.ski-mark-map:before {
  content: "\e093";
}
.ski-mark-map-1:before {
  content: "\e094";
}
.ski-map:before {
  content: "\e095";
}
.ski-medkit-outline:before {
  content: "\e096";
}
.ski-mixer-2:before {
  content: "\e097";
}
.ski-music-song:before {
  content: "\e098";
}
.ski-music-note-2:before {
  content: "\e099";
}
.ski-navigate-location:before {
  content: "\e09a";
}
.ski-navigate-outline:before {
  content: "\e09b";
}
.ski-navigate:before {
  content: "\e09c";
}
.ski-paper-airplane:before {
  content: "\e09d";
}
.ski-paper-clip:before {
  content: "\e09e";
}
.ski-pie-2:before {
  content: "\e09f";
}
.ski-pie:before {
  content: "\e0a0";
}
.ski-pie-outline:before {
  content: "\e0a1";
}
.ski-pin:before {
  content: "\e0a2";
}
.ski-photos-pictures:before {
  content: "\e0a3";
}
.ski-photos-outline:before {
  content: "\e0a4";
}
.ski-photos:before {
  content: "\e0a5";
}
.ski-screen-outline:before {
  content: "\e0a6";
}
.ski-screen:before {
  content: "\e0a7";
}
.ski-screen-1:before {
  content: "\e0a8";
}
.ski-send-mail:before {
  content: "\e0a9";
}
.ski-send-mail-outline:before {
  content: "\e0aa";
}
.ski-setting-tools:before {
  content: "\e0ab";
}
.ski-shopping-cart:before {
  content: "\e0ac";
}
.ski-shopping-cart-outline:before {
  content: "\e0ad";
}
.ski-signal-bar:before {
  content: "\e0ae";
}
.ski-speedometer-outline:before {
  content: "\e0af";
}
.ski-speedometer:before {
  content: "\e0b0";
}
.ski-speedometer-1:before {
  content: "\e0b1";
}
.ski-speakerphone:before {
  content: "\e0b2";
}
.ski-tablet:before {
  content: "\e0b3";
}
.ski-talk-chat-bubble-2:before {
  content: "\e0b4";
}
.ski-talk-chat-bubble:before {
  content: "\e0b5";
}
.ski-talk-chat:before {
  content: "\e0b6";
}
.ski-trash-bin:before {
  content: "\e0b7";
}
.ski-trash-bin-1:before {
  content: "\e0b8";
}
.ski-trash-bin-2:before {
  content: "\e0b9";
}
.ski-trash-bin-2-1:before {
  content: "\e0ba";
}
.ski-trash-bin-outline:before {
  content: "\e0bb";
}
.ski-umbrella:before {
  content: "\e0bc";
}
.ski-user-circle-outline:before {
  content: "\e0bd";
}
.ski-user-circle:before {
  content: "\e0be";
}
.ski-waterdrop:before {
  content: "\e0bf";
}
.ski-wordpress-outline:before {
  content: "\e0c0";
}
.ski-wordpress:before {
  content: "\e0c1";
}
.ski-wine-glass-outline:before {
  content: "\e0c2";
}
.ski-wine-glass:before {
  content: "\e0c3";
}
.ski-vimeo-outline:before {
  content: "\e0c4";
}
.ski-vimeo:before {
  content: "\e0c5";
}
.ski-twitter-outline:before {
  content: "\e0c6";
}
.ski-twitter:before {
  content: "\e0c7";
}
.ski-tumblr-outline:before {
  content: "\e0c8";
}
.ski-tumblr:before {
  content: "\e0c9";
}
.ski-swap-exchage:before {
  content: "\e0ca";
}
.ski-stopwatch-outline:before {
  content: "\e0cb";
}
.ski-stopwatch:before {
  content: "\e0cc";
}
.ski-stopwatch-1:before {
  content: "\e0cd";
}
.ski-stop:before {
  content: "\e0ce";
}
.ski-speaker-no:before {
  content: "\e0cf";
}
.ski-speaker:before {
  content: "\e0d0";
}
.ski-snowy:before {
  content: "\e0d1";
}
.ski-share:before {
  content: "\e0d2";
}
.ski-random:before {
  content: "\e0d3";
}
.ski-record-2:before {
  content: "\e0d4";
}
.ski-plane-airport:before {
  content: "\e0d5";
}
.ski-pinterest-outline:before {
  content: "\e0d6";
}
.ski-pinterest:before {
  content: "\e0d7";
}
.ski-pin-location:before {
  content: "\e0d8";
}
.ski-pencil-edit:before {
  content: "\e0d9";
}
.ski-music-note:before {
  content: "\e0da";
}
.ski-more-outline:before {
  content: "\e0db";
}
.ski-more-2:before {
  content: "\e0dc";
}
.ski-more:before {
  content: "\e0dd";
}
.ski-mobile-phone:before {
  content: "\e0de";
}
.ski-mixer:before {
  content: "\e0df";
}
.ski-mic:before {
  content: "\e0e0";
}
.ski-mic-3:before {
  content: "\e0e1";
}
.ski-mic-5:before {
  content: "\e0e2";
}
.ski-mic-outline:before {
  content: "\e0e3";
}
.ski-male:before {
  content: "\e0e4";
}
.ski-mail-letter-outline:before {
  content: "\e0e5";
}
.ski-mail-letter-2:before {
  content: "\e0e6";
}
.ski-magnet:before {
  content: "\e0e7";
}
.ski-lightbulb-1:before {
  content: "\e0e8";
}
.ski-log-in:before {
  content: "\e0e9";
}
.ski-log-out:before {
  content: "\e0ea";
}
.ski-log-out-1:before {
  content: "\e0eb";
}
.ski-linkedin-outline:before {
  content: "\e0ec";
}
.ski-key:before {
  content: "\e0ed";
}
.ski-hashtag:before {
  content: "\e0ee";
}
.ski-inbox-outline:before {
  content: "\e0ef";
}
.ski-inbox-box:before {
  content: "\e0f0";
}
.ski-inbox:before {
  content: "\e0f1";
}
.ski-github-outline:before {
  content: "\e0f2";
}
.ski-github:before {
  content: "\e0f3";
}
.ski-googleplus-thick:before {
  content: "\e0f4";
}
.ski-googleplus:before {
  content: "\e0f5";
}
.ski-googleplus-1:before {
  content: "\e0f6";
}
.ski-googleplus-2:before {
  content: "\e0f7";
}
.ski-forward:before {
  content: "\e0f8";
}
.ski-fighter:before {
  content: "\e0f9";
}
.ski-facebook-outline:before {
  content: "\e0fa";
}
.ski-facebook:before {
  content: "\e0fb";
}
.ski-android:before {
  content: "\e0fc";
}
.ski-android-outine:before {
  content: "\e0fd";
}
.ski-apple:before {
  content: "\e0fe";
}
.ski-apple-outline:before {
  content: "\e0ff";
}
.ski-brightness:before {
  content: "\e100";
}
.ski-brightness-outline:before {
  content: "\e101";
}
.ski-call-phone-outline:before {
  content: "\e102";
}
.ski-call-phone:before {
  content: "\e103";
}
.ski-caret-down:before {
  content: "\e104";
}
.ski-caret-left:before {
  content: "\e105";
}
.ski-caret-right:before {
  content: "\e106";
}
.ski-caret-up:before {
  content: "\e107";
}
.ski-compose-edit-outline:before {
  content: "\e108";
}
.ski-compose-edit:before {
  content: "\e109";
}
.ski-compose:before {
  content: "\e10a";
}
.ski-compass:before {
  content: "\e10b";
}
.ski-contact-add-2:before {
  content: "\e10c";
}
.ski-contact-add-3:before {
  content: "\e10d";
}
.ski-contact-outline-add:before {
  content: "\e10e";
}
.ski-dropbox:before {
  content: "\e10f";
}
.ski-dribble-outline:before {
  content: "\e110";
}
.ski-dribble:before {
  content: "\e111";
}
.ski-electric-flash-outline:before {
  content: "\e112";
}
.ski-eye-view-outline:before {
  content: "\e113";
}
.ski-eye-view-2:before {
  content: "\e114";
}
.ski-eye-view:before {
  content: "\e115";
}
.ski-fork-repo:before {
  content: "\e116";
}
.ski-globe-outline:before {
  content: "\e117";
}
.ski-linkedin:before {
  content: "\e118";
}
.ski-link:before {
  content: "\e119";
}
.ski-nuclear:before {
  content: "\e11a";
}
.ski-pizza:before {
  content: "\e11b";
}
.ski-refresh:before {
  content: "\e11e";
}
.ski-refresh-1:before {
  content: "\e11f";
}
.ski-return-left:before {
  content: "\e120";
}
.ski-resize-arrow-2:before {
  content: "\e121";
}
.ski-dropbox-outline:before {
  content: "\e11c";
}
