@font-face {
  font-family: "skeleticons";
  src: url("../fonts/skeleticons.eot");
  src: url("../fonts/skeleticons.eot?#iefix") format("embedded-opentype"),
       url("../fonts/skeleticons.woff2") format("woff2"),
       url("../fonts/skeleticons.woff") format("woff"),
       url("../fonts/skeleticons.ttf") format("truetype"),
  font-weight: normal;
  font-style: normal;
}


[class^="si-"], [class*=" si-"] {
  display: inline-block;
  font-family: "Skelet";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.si-add:before { content: "\f104"; }
.si-add-2:before { content: "\f105"; }
.si-add-new:before { content: "\f106"; }
.si-address-book:before { content: "\f109"; }
.si-admin:before { content: "\f110"; }
.si-airplane-take-off:before { content: "\f113"; }
.si-biometric-passport:before { content: "\f115"; }
.si-compass:before { content: "\f10a"; }
.si-document:before { content: "\f101"; }
.si-document-clip:before { content: "\f100"; }
.si-forward-arrow:before { content: "\f10b"; }
.si-google-sites:before { content: "\f10d"; }
.si-home-address:before { content: "\f107"; }
.si-home-address-2:before { content: "\f10f"; }
.si-paper-airplane:before { content: "\f112"; }
.si-pdf:before { content: "\f102"; }
.si-profile-avatar:before { content: "\f111"; }
.si-show-location:before { content: "\f10c"; }
.si-signpost:before { content: "\f10e"; }
.si-windsock:before { content: "\f114"; }
.si-work-address:before { content: "\f108"; }
