
body[class^="pressapps_page_"] #wpcontent, body[class*="pressapps_page_"] #wpcontent {
  padding-left: 0;
}

#pa-products {
  margin-bottom: 25px;
  overflow: hidden;
}

#pa-products .pa-item {
	float:left;
	margin-left: 25px;
  margin-top: 25px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.06);
}
#pa-products .pa-item h3 {
  text-align: center;
  margin: 0 0 30px;
  text-transform: uppercase;
}
#pa-products .pa-item img{
	width:500px;
	height: 254px;
}
#pa-products .pa-item p {
  text-align: center;
  margin: 25px 0 0;
}
#pa-products .pa-item .marked-purchased{
  font-size: 12px;
  float: right;
  padding: 2px 5px 2px 5px;
  background: #5CCF49;
  color: #fff;
  border-radius: 3px;
  margin-left: 3px;
}


/*
header {
  padding: 35px 25px;
  background-image: url("../../../assets/images/bg.jpg");
  background-color: #15ADF4;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center top;
}
header h1 {
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 2em;
  font-weight: 700;
}
*/

/* Support page */
/*
.pa-support {
  margin: 0 15px;
}
.pa-support .box-wrapper {
  float: left;
  width: 33.3333%;
}
.pa-support .box {
  margin: 30px 15px;
  background-color: #fff;
  text-align: center;
  padding: 25px 15px;
}
*/

.pa-header h1, .pa-header h3, .pa-cta h2 {
  font-weight: 400;
}
.pa-header {
  padding: 35px 25px;
  text-align: center;
}
.pa-header h1 {
  margin: 0;
  font-size: 4em;
  line-height: 1.4em;
}
.pa-header h3 {
  margin: 20px 0 0;
}


.pa-boxes {
  margin: 40px 0 0;
  padding: 0;
  text-align: center;
  background-color: #f1f1f1;
}
.pa-boxes li {
  display: inline-block;
  width: 30%;
  margin: 0 2% 0 0;
  padding-bottom: .5em;
  vertical-align: top;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  text-align: center;
  background: #fff;
  border: solid 1px #e6e6e6;
  box-shadow: 0 0 30px #f1f1f1;
  -webkit-transition: background-color .14s ease-out;
  -moz-transition: background-color .14s ease-out;
  -ms-transition: background-color .14s ease-out;
  -o-transition: background-color .14s ease-out;
  transition: background-color .14s ease-out;
}
.pa-boxes li:hover {
  border-color: #d6d6d6;
  box-shadow:0 0 15px #e4e4e4;
}
.pa-boxes li:last-child {
  padding-bottom: 0;
  margin-right: 0;
}
.pa-boxes li a {
  padding: 30px 25px;
  text-decoration: none;
  display: block;
  color: #242424;
}
.pa-boxes li a:hover {
}
.pa-boxes i {
  font-size: 42px;
}
.pa-boxes h3 {
  font-size: 20px;
}
.pa-boxes p {
  margin: 15px 0 0;
}

@media screen and (max-width: 678px) {
  .pa-boxes {
    padding: 15px;
  }
  .pa-boxes li {
    width: 100%;
    margin: 0 0 3% 0;
  }
}





.pa-cta {
  text-align: center;
  margin-top: 80px;
  padding: 70px 0;
  background-color: #fff;
}


.pa-cta h2 {
  margin: 0 0 .75em;
  font-size: 2.4em;
  line-height: 1.4em;
}
.pa-cta p {
  font-size: 15px;
  text-align: center;
}
.btn-cta {
  display: inline-block;
  margin: 20px 20px 0;
  max-width: 200px;
  text-align: center;
  font: inherit;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1.2em;
  line-height: 1em;
  padding: 1.5em 2.5em;
  border: none;
  color: #e0e0e0;
  background: #181818;
  color: #181818;
  background-color: transparent;
  border: solid 1px #121212;
  -webkit-transition: background-color .14s ease-out,color .14s ease-out;
  -moz-transition: background-color .14s ease-out,color .14s ease-out;
  -ms-transition: background-color .14s ease-out,color .14s ease-out;
  -o-transition: background-color .14s ease-out,color .14s ease-out;
  transition: background-color .14s ease-out,color .14s ease-out;
}
